    {% load static %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TAV LAB{% endblock %}</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="app-container">
            <div class="web-app">
                <!-- Header -->
                <header class="main-header">
                    <nav class="navbar">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/resources">Resources</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </header>

                <div class="embeddings">
                    <h1 style="color: #007acc;">PCA and Cosine Similarity Analysis</h1>
                    <div class="embeddings_form">
                        <form method="POST" action="/embeddings/">
                            {% csrf_token %}
                            <label for="disease_name">Enter Disease Name:</label>
                            <input type="text" id="disease_name" name="disease_name" value="{{ disease_name }}">
                            <button type="submit" class="emb_btn">Search</button>
                        </form>
                        
                    </div>

                    {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                    {% endif %}

                    {% if disease_name %}
                    <h2 style="color: aliceblue;">Results for Disease: {{ disease_name }}</h2>

                    {% if pca_plot_div %}
                    <div class="plot">
                        <h2 style="color: aliceblue;">PCA Plot</h2>
                        <div id="pca-plot"></div>
                        <script>
                            var pca_plot_div = {{ pca_plot_div|safe }};
                            Plotly.newPlot('pca-plot', pca_plot_div.data, pca_plot_div.layout);
                        </script>
                    </div>
                    {% endif %}

                    <!-- {% if scree_plot_div %}
                    <div class="plot">
                        <h2>Scree Plot for Initial Components</h2>
                        <div id="scree-plot"></div>
                        <script>
                            var scree_plot_div = {{ scree_plot_div|safe }};
                            Plotly.newPlot('scree-plot', scree_plot_div.data, scree_plot_div.layout);
                        </script>
                    </div>
                    {% endif %} -->

                    <!-- {% if scree_plot_div1 %}
                    <div class="plot">
                        <h2>Scree Plot for Maximum Feasible Components</h2>
                        <div id="scree-plot1"></div>
                        <script>
                            var scree_plot_div1 = {{ scree_plot_div1|safe }};
                            Plotly.newPlot('scree-plot1', scree_plot_div1.data, scree_plot_div1.layout);
                        </script>
                    </div>
                    {% endif %} -->

                    {% if cosine_plot_div %}
                    <div class="plot">
                        <h2 style="color: aliceblue;">Cosine Similarity Matrix</h2>
                        <div id="cosine-plot"></div>
                        <script>
                            var cosine_plot_div = {{ cosine_plot_div|safe }};
                            Plotly.newPlot('cosine-plot', cosine_plot_div.data, cosine_plot_div.layout);
                        </script>
                    </div>
                    {% endif %}

                    <div class="plot">
                        <h2 style="color: aliceblue;">Filter Cosine Similarities</h2>
                        <div class="cutoff">
                            <form method="POST" action="/embeddings/">
                                {% csrf_token %}
                                <input type="hidden" name="disease_name" value="{{ disease_name }}">
                                <label style="color: #007acc;" for="cutoff">Set cutoff value:</label>
                                <input type="number" id="cutoff" name="cutoff" step="0.01" min="0" value="{{ cutoff_value|default_if_none:'0.7' }}">
                                <button type="submit" class="cutoff_btn">Search</button>
                            </form>
                            
                        </div>
                    </div>

                    {% if cosine_similarities %}
                    <div class="plot">
                        <h2 style="color: aliceblue;">Cosine Similarities</h2>
                        <table border="1" cellpadding="10" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Disease 1</th>
                                    <th>GSE ID 1</th>
                                    <th>Disease 2</th>
                                    <th>GSE ID 2</th>
                                    <th>Similarity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for similarity in cosine_similarities %}
                                <tr>
                                    <td>{{ similarity.disease_1 }}</td>
                                    <td>{{ similarity.gse_id_1 }}</td>
                                    <td>{{ similarity.disease_2 }}</td>
                                    <td>{{ similarity.gse_id_2 }}</td>
                                    <td>{{ similarity.similarity }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% endif %}
                </div>

                <!-- Footer -->
                <footer>
                    <p>&copy; TAV LAB</p>
                </footer>
            </div>
        </div>
    </body>
    </html>
